<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Typography</h1>

    <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="JjQLMEL" data-pen-title="Untitled" data-user="Qwartzh" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/Qwartzh/pen/JjQLMEL">
        Untitled</a> by Lucas (<a href="https://codepen.io/Qwartzh">@Qwartzh</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    
</body>
</html>